<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LESS</title>
        <link rel="stylesheet/less"  type="text/css" href="./css/styles.less"/> <!--Referência ao Less-->
    </head>


    <body>
        <h1>       Título     </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Facere culpa in cumque similique repudiandae natus doloribus,
            voluptate quod harum ducimus? Eveniet asperiores voluptates ex 
            neque numquam esse eos deserunt culpa.
        </p>

        <script src="https://cdn.jsdelivr.net/npm/less" ></script>  <!--Essa linha esta no site do LESS: https://lesscss.org/-->
        
        <script>
            less = {
                env: "development" /* pode ser production - se o development  mostra erros no console */
            };// env =enviroment
        </script>
    </body>
</html>